* {
  margin: 0;
  padding: 0;
}

:root {
  --clr_primary: #8BCD2D;
  /* --clr_accent: #4c4c4c; */
  --clr_accent: #373D3F;
  --clr_dark: black;
  --clr_light: white;
  --clr_shade: #F3F3F3;

  --ff_title: 'Raleway', sans-serif;
  --ff_serif: 'Open Sans', sans-serif;
  /* --ff_title: 'Lato', sans-serif; */
  /* --ff_title: 'Julius Sans One', sans-serif; */
  /* --ff_title: 'Oswald', sans-serif; */
  
  --font_n: 1rem;
  --font_s: 0.82rem;
  --font_m: 1.3rem;
  --font_l: 2.4rem;

}

/* => Standardized All Typograghy and Font size*/
html{
  /* box-sizing: ; */
  font-family: var(--ff_serif);
  color: var(--clr_accent);
  font-size: var(--font_n);
  /* font-weight: ; */
}

/* => Standardized All Typograghy and Font size*/
h1 {
  font-family: var(--ff_title);
  font-size: var(--font_l);
  line-height: var(--font_l);
}
h2 {
  font-size: var(--font_m);
}
h3 {
  /* font-family: var(--ff_title); */
  font-size: var(--font_m);
}
p {
  font-size: var(--font_n);
}






/* ==========================
   START OF MOBILE MODE 
   ========================== */

/* MOBILE SECTION: NAVBAR */
nav {
  min-height: var(--font_n);
  position: fixed;
  z-index: 99;
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  /* background: orange; */
  font-weight: 500;
  }
nav #logo {
  background-color: var(--clr_shade);
  height: 100px;
  background-image: url("IMG/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* Cannot use margin bc this is background image, so will have a space when i add background color behind
  so have to use background-position-x to align the logo  */
  background-position-x: 13%;
  display: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--font_m) * 1.7);
  width: 100%;
  display: none;
}
nav ul li {
  background: var(--clr_shade);
  list-style: none;
  }
nav ul li a {
  color: var(--clr_accent);
  text-shadow:
		/* -1px -1px 0 rgba(255,255,255,0.5), */
		1px -1px 0 rgba(255,255,255,0.5);
		/* -1px 1px 0 rgba(255,255,255,0.5), */
		/* 1px 1px 0 rgba(255,255,255,0.5); */
  /* text-shadow: 0px 0px 30px white,0px 0px 30px white,0px 0px 30px white,0px 0px 10px white,0px 0px 10px white; */
  display: block;
  white-space: nowrap;
  padding: 3% 6%;
  text-decoration: none;
  /* font-weight: 900; */
}
nav ul li a:hover {
  color: var(--clr_primary);
  background: rgba(255, 255, 255, 0.8);
}
/* This is to give extra white space at the top when toggle menu */
nav ul li:first-child {
  padding: 20% 0 0 0;
}
/* This is to give extra white space at the bottom to cover entire screen when toggle menu */
nav ul li:last-child {
  padding: 0 0 100% 0;
}
.menu_toggle {
  position: absolute;
  /* display: none; */
  padding: 6px 11px;
  background: var(--clr_light);
  /* background: pink; */
  color: var(--clr_accent);
  font-size: var(--font_m);
  top: 0;
  right: 0;
}


/* MOBILE SECTION: OUR SALON */
.divider1_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  height: 40vh;
  background-image: url("IMG/salon1.JPG");
  background-repeat: no-repeat;
  background-size: 120%;
  transform: rotate(-0.32deg);
  /* Adjust image left/right */
  background-position-x: center;
  /* Adjust image left/right/top/bottom */
  background-position-y: center;
}
.intro {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_light);

    /* Image position and size adjustment */
    /* background-image: url("GR1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 32%; */
    /* Adjust image left/right */
    /* background-position-x: 85%; */
    /* Adjust image left/right/top/bottom */
    /* background-position-y: bottom; */
    /* background-position-y: right; */

    /* background-position: 400px 100px; */ 
    /* background-size: cover; */
}
.intro .intro_text {
  width: 100%;
}
.intro .expert {
  padding: 10% 6% 0 6%;
}
.intro h1 {
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);

  /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
  padding: 1% 6% 3% 6%;
}
.intro p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 6% 0% 6%;

  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);
}
/* Button 2 style: White text and perimeter */
.btn2 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_accent);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_accent);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 4% 5% 15% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn2:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn2:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn2:hover {
  color: var(--clr_dark);
  border: 1px solid var(--clr_primary);
  z-index: 1;
}
.btn2:hover:before {
  top: 0;
}


/* ************************************* */
/* MOBILE SECTION: FULL GROOMING
MOBILE SECTION: BASIC GROOMING
MOBILE SECTION: A LA CARTE
Unable to add extra space after table so have to use a div for this */
.addspace {
  height: 70px;  
}
/* ************************************* */


/* MOBILE SECTION: FULL GROOMING */
.fullgroom_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  background-image: url("IMG/");
  background-repeat: no-repeat;
  background-size: 120%;
  transform: rotate(0deg);
  /* Adjust image left/right */
  background-position-x: center;
  /* Adjust image left/right/top/bottom */
  background-position-y: center;
}
.fullgroom {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_shade);

    /* Image position and size adjustment */
    /* background-image: url("GR1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 32%; */
    /* Adjust image left/right */
    /* background-position-x: 85%; */
    /* Adjust image left/right/top/bottom */
    /* background-position-y: bottom; */
    /* background-position-y: right; */

    /* background-position: 400px 100px; */ 
    /* background-size: cover; */
}
.fullgroom .fullgroom_text {
  width: 100%;
}
.fullgroom .fullgroom_header {
  padding: 10% 6% 3% 6%;
}
.fullgroom .fullgroom_body {
  padding: 3% 6% 0% 6%;
}
.fullgroom .fullgroom_price {
  padding: 10% 6% 3% 6%;
}
.fullgroomtable {
  border-collapse: collapse;
  /* width+bothmargin = 88+6+6 = 100% */
  width: 88%;
  /* can't add margin to the bottom */
  margin: 0% 6%;
  /* background-color: pink; */
}
.fullgroomtable th, td {
  text-align: left;
  padding: calc(var(--font_n)/2);
  width: 60%;
}
.fullgroomtable tr:nth-child(even) {
  background-color: rgba(255,255,255,0.5);
}
.fullgroom .price_terms {
  padding: 10% 6% 0% 6%;
}
.fullgroom .quote {
  padding: 6% 6% 20% 6%;
}
.fullgroom .contact_us {
  color: var(--clr_primary);
}
.fullgroom .contact_us:link {
  color: var(--clr_primary);
  text-decoration: none;
}
.fullgroom .contact_us:visited {
  color: var(--clr_primary);
  text-decoration: none;
}
.fullgroom .contact_us:hover {
  color: var(--clr_dark);
  text-decoration: underline;
}
.fullgroom .contact_us:active {
  color: var(--clr_accent);
  text-decoration: none;
}


/* MOBILE SECTION: BASIC GROOMING */
.basicgroom_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  background-image: url("IMG/");
  background-repeat: no-repeat;
  background-size: 120%;
  transform: rotate(0deg);
  /* Adjust image left/right */
  background-position-x: center;
  /* Adjust image left/right/top/bottom */
  background-position-y: center;
}
.basicgroom {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_light);

    /* Image position and size adjustment */
    /* background-image: url("GR1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 32%; */
    /* Adjust image left/right */
    /* background-position-x: 85%; */
    /* Adjust image left/right/top/bottom */
    /* background-position-y: bottom; */
    /* background-position-y: right; */

    /* background-position: 400px 100px; */ 
    /* background-size: cover; */
}
.basicgroom .fullgroom_text {
  width: 100%;
}
.basicgroom .basicgroom_header {
  padding: 10% 6% 3% 6%;
}
.basicgroom .basicgroom_body {
  padding: 3% 6% 0% 6%;
}
.basicgroom .basicgroom_price {
  padding: 10% 6% 3% 6%;  
}
.basicgroomtable {
  border-collapse: collapse;
  /* width+bothmargin = 88+6+6 = 100% */
  width: 88%;
  /* can't add margin to the bottom */
  margin: 0% 6%;
  /* background-color: yellow; */
}
.basicgroomtable th, td {
  text-align: left;
  padding: calc(var(--font_n)/2);
  width: 60%;
}
.basicgroomtable tr:nth-child(even) {
  /* background-color: rgba(255,255,255,0.4); */
  background-color: var(--clr_shade);
}
.basicgroom .price_terms {
  padding: 10% 6% 0% 6%;
}
.basicgroom .quote {
  padding: 6% 6% 20% 6%;
}
.basicgroom .contact_us {
  color: var(--clr_primary);
}
.basicgroom .contact_us:link {
  color: var(--clr_primary);
  text-decoration: none;
}
.basicgroom .contact_us:visited {
  color: var(--clr_primary);
  text-decoration: none;
}
.basicgroom .contact_us:hover {
  color: var(--clr_dark);
  text-decoration: underline;
}
.basicgroom .contact_us:active {
  color: var(--clr_accent);
  text-decoration: none;
}


/* MOBILE SECTION: À la carte services */
.alacarte_image_on_mobile {
  background-color: var(--clr_primary);
  /* height: 330px; */
  background-image: url("IMG/");
  background-repeat: no-repeat;
  background-size: 120%;
  transform: rotate(0deg);
  /* Adjust image left/right */
  background-position-x: center;
  /* Adjust image left/right/top/bottom */
  background-position-y: center;
}
.alacarte {
  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_dark);

    /* Image position and size adjustment */
    /* background-image: url("GR1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 32%; */
    /* Adjust image left/right */
    /* background-position-x: 85%; */
    /* Adjust image left/right/top/bottom */
    /* background-position-y: bottom; */
    /* background-position-y: right; */

    /* background-position: 400px 100px; */ 
    /* background-size: cover; */
}
.alacarte .alacarte_text {
  width: 100%;
}
.alacarte .expert {
  padding: 10% 6% 0 6%;
}
.alacarte h1 {
  /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
  padding: 10% 6% 3% 6%;
  color: var(--clr_light);
}
.alacarte p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 6% 0% 6%;
  color: var(--clr_light);
}
/* .fullgroom span { */
  /* font-style: italic; */
/* } */
/* .fullgroom h2 {
  padding: 0.5% 6% 0% 6%;
} */
.alacartetable {
  border-collapse: collapse;
  /* width+bothmargin = 88+6+6 = 100% */
  width: 88%;
  /* can't add margin to the bottom */
  margin: 0% 6%;
  /* background-color: yellow; */
}
.alacartetable th, 
.alacartetable td {
  text-align: left;
  padding: calc(var(--font_n)/2);
  width: 60%;
  color: var(--clr_light);
}
.alacartetable tr:nth-child(even) {
  background-color: rgba(255,255,255,0.15);
}






/* ============================================================================
================================== OLD STUFF ==================================
=============================================================================== */

/* MOBILE SECTION: Slider buttons */
.slideshow-container {
  position: relative;
}
.sliderbtn {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  color: var(--clr_light);
  padding: calc(var(--font_n)/2) var(--font_n);
  font-size: var(--font_n);
  border: none;
  z-index: 10;
  cursor: pointer;
  width: 13%;
}
.nextbtn {
  position: absolute;
  top: 84%;
  right: 0;
}
.prevbtn {
  position: absolute;
  top: 91%;
  right: 0;
}
.btntext {
  display: none;
}
.sliderbtn:hover {
  background: var(--clr_light);
  color: var(--clr_primary);
}


/* MOBILE SECTION: Intro1 */
.intro1 {
  width: 100%;
  height: 650px;
  background-image: none;
  /* background: green; */
  /* position: relative; */

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  /* padding: 10% 5% 10% 5%; */

  /* In case need to adjust the WHOLE intro down when not enough space */
  /* margin: 0px 0 0 0; */

  /* Just want to see the full height on phone, to toggle off when done */
  /* background: #eeeeee; */

  /* Image position and size adjustment */
  /* background-image: url("hero.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: 580%; */
  /* background-size: cover; */
  /* Adjust image left/right */
  /* background-position-x: 48.5%; */
  /* Adjust image top/bottom */
  /* background-position-y: 71%; */
  /* background-position: bottom; */
  /* Adjust image left/right/top/bottom */
  /* background-position: -50px 100px; */
  }
  .container_image_on_mobile1 {
    height: 400px;
    background-image: url("IMG/hero.jpg");
    background-repeat: no-repeat;
    background-size: 580%;
    /* Adjust image left/right */
    background-position-x: 48.5%;
    /* Adjust image top/bottom */
    background-position-y: 42%;
  }
.intro1 .text {
  width: 100%;
  /* height: 600px; */
  /* float: left; */
}

.intro1 .text h1 {
  padding: 0% 10% 0 10%;
  color: var(--clr_accent);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* align text to center of the page */
  text-align: center;
  /* text-shadow: ; */
}
.intro1 .text h2 {
  padding: 0.5% 12% 0% 12%;
  color: var(--clr_accent);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* align text to center of the page */
  text-align: center;
}
.intro1 .text h3 {
  padding: 2% 6% 0 6%;
  color: var(--clr_accent);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* align text to center of the page */
  text-align: center;
}
.intro1 .text p {
  padding: 0.5% 11% 0 11%;
  color: var(--clr_accent);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* align text to center of the page */
  text-align: center;
}
/* Button 1 style: Grey text and perimeter */
.btn1 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_accent);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_accent);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;
  
/* Gap adjustment (top,left/right only, but not bottom because that one is adjust fr intro div -> padding: top/bottom) for button */
  /* margin: 2.2% 6% 10% 33%; */
  margin: 2.2% 0% 10% 34%;
  /* left: 34%; */


/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn1:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn1:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn1:hover {
  color: var(--clr_dark);
  border: 1px solid var(--clr_primary);
  z-index: 1;
}
.btn1:hover:before {
  top: 0;
}




/* MOBILE SECTION: Intro 2 */
.intro2 {
  width: 100%;
  height: 650px;
  /* background-image: none; */
  position: relative;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  /* padding: 10% 5% 10% 5%; */

  /* In case need to adjust the WHOLE intro down when not enough space */
  /* margin: 0px 0 0 0; */

  /* Just want to see the full height on phone, to toggle off when done */
  /* background: #eeeeee; */

  /* Image position and size adjustment */
  background-image: url("IMG/grooming\ course.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* background-position-y: bottom; */
  /* background-size: 60%; */
  /* Adjust image left/right */
  /* background-position-x: 90%; */
  /* Adjust image left/right/top/bottom */
  /* background-position: 400px 100px; */
}
.overlay2 {
  /* Position absolute will make the overlay layer pop out but then text will be hidden behind (can't see) in this way. 
  Therefore, the text need to position relative so they will be visible again */
  position: absolute;
  /* width of overylay */
  width: 100%;
  /* shift the overlay to the right */
  /* margin: 0 0% 0 50%; */
  /* Note: height is 100% in respect to intro height of 100vh */
  height: 100%;
  /* Darken the background image so that text are more readable */
  background: rgba(0, 0, 0, 0.3);
}
.intro2 .text {
  width: 100%;
  /* height: 100vh; */
  /* float: left; */
}
/* logo not required for this div
.intro2 .text .dfa_logo {
  width: 33px;
  height: 33px;

  background-image: url("dfa\ logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 60%;
  top: 16%;
} */
.intro2 .text h1 {
  padding: 70% 6% 0 6%;
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* text-align: center; */
}
.intro2 .text h1 a:link {
  color: var(--clr_light);
  text-decoration: none;
}
.intro2 .text h1 a:visited {
  color: var(--clr_light);
  text-decoration: none;
}
.intro2 .text h1 a:hover {
  color: var(--clr_primary);
  text-decoration: none;
}
.intro2 .text h1 a:active {
  color: var(--clr_dark);
  text-decoration: none;
}
.intro2 .text h2 {
  padding: 0.5% 6% 0% 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  /* text-align: center; */
}
.intro2 .text h3 {
  padding: 8% 6% 0 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro2 .text p {
  padding: 2% 6% 0 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
/* Button 2 style: White text and perimeter */
.btn2ATOM {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_light);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_light);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2.2% 5% 5% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn2:beforeATOM {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn2:afterATOM {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn2:hoverATOM {
  color: var(--clr_dark);
  border: 1px solid var(--clr_light);
  z-index: 1;
}
.btn2:hover:beforeATOM {
  top: 0;
}




/* MOBILE SECTION: Intro 3 */
.intro3 {
  width: 100%;
  height: 650px;
  position: relative;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  /* padding: 10% 5% 10% 5%; */

  /* In case need to adjust the WHOLE intro down when not enough space */
  /* margin: 0px 0 0 0; */

  /* Just want to see the full height on phone, to toggle off when done */
  /* background: #eeeeee; */

  /* Image position and size adjustment */
  background-image: url("IMG/homestay.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: -600px; */
  /* background-position-y: bottom; */
  /* background-size: 70%; */
  /* Adjust image left/right */
  background-position-x: 70%;
  /* Adjust image left/right/top/bottom */
  /* background-position: 400px 100px; */
}
.overlay3 {
  /* Position absolute will make the overlay layer pop out but then text will be hidden behind (can't see) in this way. 
  Therefore, the text need to position relative so they will be visible again */
  position: absolute;
  /* width of overylay */
  width: 100%;
  /* shift the overlay to the right */
  /* margin: 0 0% 0 50%; */
  /* Note: height is 100% in respect to intro height of 100vh */
  height: 100%;
  /* Darken the background image so that text are more readable */
  background: rgba(0, 0, 0, 0.4);
}
.intro3 .text {
  width: 100%;
}
.intro3 .text h1 {
  padding: 70% 6% 0 6%;
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro3 .text h1 a:link {
  color: var(--clr_light);
  text-decoration: none;
}
.intro3 .text h1 a:visited {
  color: var(--clr_light);
  text-decoration: none;
}
.intro3 .text h1 a:hover {
  color: var(--clr_primary);
  text-decoration: none;
}
.intro3 .text h1 a:active {
  color: var(--clr_dark);
  text-decoration: none;
}
.intro3 .text h2 {
  padding: 0.5% 40% 0% 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro3 .text h3 {
  padding: 8% 6% 0 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro3 .text p {
  padding: 2% 7% 0 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
/* Button 3 style: White text and perimeter */
.btn3 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_light);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_light);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2.2% 5% 5% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn3:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn3:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn3:hover {
  color: var(--clr_dark);
  border: 1px solid var(--clr_light);
  z-index: 1;
}
.btn3:hover:before {
  top: 0;
}


/* MOBILE SECTION: Intro 4 */
.intro4 {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}
.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  /* if you want to center the video no matter how you resize, change the top and left to 50%, and transform: translate(-50%, -50%)  
  else, set top and left as 0, remove the transform*/
  /* transform: translate(-50%, -50%) */
  /* filter to enahnce the video color */
  -webkit-filter: contrast(120%);filter: contrast(130%);
}
.overlay4 {
  /* Position absolute will make the overlay layer pop out but then text will be hidden behind (can't see) in this way. 
  Therefore, the text need to position relative so they will be visible again */
  position: absolute;
  /* width of overylay */
  width: 100%;
  /* shift the overlay to top/bottom/left/right */
  margin: 0 0% 0 0%;
  /* Note: height is 100% in respect to intro height of 100vh */
  height: 100%;
  /* Darken the background image so that text are more readable */
  background: rgba(0, 0, 0, 0.5);
}
.intro4 .text {
  width: 100%;
  /* height: 100vh; */
  /* float: left; */
}
.intro4 .text .dfa_logo {
  width: 33px;
  height: 33px;
  background-image: url("IMG/dfa\ logo.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100%;
  position: relative;
  margin: 35% 0% 0% 6.5%;
}
.intro4 .text h1 {
  padding: 1% 6% 0 6%;
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro4 .text h1 a:link {
  color: var(--clr_light);
  text-decoration: none;
}
.intro4 .text h1 a:visited {
  color: var(--clr_light);
  text-decoration: none;
}
.intro4 .text h1 a:hover {
  color: var(--clr_primary);
  text-decoration: none;
}
.intro4 .text h1 a:active {
  color: var(--clr_dark);
  text-decoration: none;
}
.intro4 .text h2 {
  padding: 0.5% 6% 0% 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro4 .text h3 {
  padding: 8% 7% 0 60%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
}
.intro4 .text p {
  padding: 2% 6% 0 6%;
  color: var(--clr_light);
  /* Position relative will make the text visible as there is an overlay above it */
  position: relative;
  max-height: 200px;
  overflow: hidden;
}
/* Button 4 style: White text and perimeter */
.btn4 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_light);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_light);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2.2% 10% 5% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn4:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn4:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_light);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn4:hover {
  color: var(--clr_dark);
  z-index: 1;
}
.btn4:hover:before {
  top: 0;
}


/* MOBILE SECTION: News Title only */
.news_title {
  /* background: var(--clr_primary); */
  background: #F3F3F3;
  width: 100%;
}
.news_title h1 {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 10% 6% 6% 6%;
  
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);
}  

/* MOBILE SECTION: News containers */
.news_all {
  background: var(--clr_shade);
  display: grid;
  /* Can change 1 to auto-fit and it will be responsive
  18rem is the biggest it can go before the screen can't fit for small mobile devices */
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); 
  grid-gap: var(--font_s);
  padding: 0 6%;
  /* cursor: pointer; */
}

.news1 {
  background: var(--clr_light);    
  transition: transform 1s;
}
.news1:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.01);
}
.news1_link:link {
  color: var(--clr_accent);
  text-decoration: none;
}
.news1_link:visited {
  color: var(--clr_accent);
  text-decoration: none;
}
.news1_link:hover {
  /* background-color: red; */
  /* z-index: -991; */
  color: var(--clr_primary);
  text-decoration: none;
  /* -webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green); */
  /* -webkit-filter: opacity(50%);filter: opacity(50%); */
}
.news1_link:active {
  color: var(--clr_dark);
  text-decoration: none;
}
.container_image1 {
  width: 100%;
  min-height: 22rem;
  background: url("IMG/okto.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--clr_primary);
  /* overflow: hidden; */
}
/* .video_okto { */
  /* width: 100%; */
  /* min-height: 15rem; */
  /* filter to enahnce the video color */
  /* -webkit-filter: contrast(150%);filter: contrast(130%); */
  /* if you want to center the video no matter how you resize, change the top and left to 50%, and transform: translate(-50%, -50%)  
  else, set top and left as 0, remove the transform*/
  /* transform: translate(-50%, -50%); */
/* }  */
.container_text1 {
  min-height: 2rem;
}
.news1 h3 {
  padding: 17px 0 0 17px;
}
.news1 p {
  padding: 3px 17px 15px 17px;
}



.news2 {
  background: var(--clr_light);
  transition: transform 1s;
}
.news2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.01);
}
.news2_link:link {
  color: var(--clr_accent);
  text-decoration: none;
}
.news2_link:visited {
  color: var(--clr_accent);
  text-decoration: none;
}
.news2_link:hover {
  /* background-color: red; */
  /* z-index: -991; */
  color: var(--clr_primary);
  text-decoration: none;
  /* -webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green); */
  /* -webkit-filter: opacity(50%);filter: opacity(50%); */
}
.news2_link:active {
  color: var(--clr_dark);
  text-decoration: none;
}
.container_image2 {
  width: 100%;
  /* height: 100%; */
  min-height: 22rem;
  /* height: 85%; */
  /* background: url("straits-times-test.jpg"); */
  background: url("IMG/straits-times.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* overflow: hidden; */
  background-color: var(--clr_primary);
}
.container_text2 {
  /* height: 15%; */
  min-height: 2rem;
}
.container_text2 h3 {
  padding: 17px 0 0 17px;
}
.container_text2 p {
  padding: 3px 17px 15px 17px;
}



/* MOBILE SECTION: WHAT DO WE DO? */
.objective {
  /* Just want to see the full height on phone, to toggle off when done */
  /* margin: 100px 0 0 0; */

  width: 100%;
  height: auto;

  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  background: var(--clr_light);

    /* Image position and size adjustment */
    /* background-image: url("GR1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 32%; */
    /* Adjust image left/right */
    /* background-position-x: 85%; */
    /* Adjust image left/right/top/bottom */
    /* background-position-y: bottom; */
    /* background-position-y: right; */

    /* background-position: 400px 100px; */ 
    /* background-size: cover; */
}
.objective .objective_text {
  width: 100%;
  /* height: 600px; */
  /* float: left;   */
}
.objective h1 {
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);

  /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
  padding: 10% 6% 0 6%;
}
.objective p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 6% 6% 6%;

  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_accent);
}
.divider1_image_on_mobileOLD {
    height: 300px;
    background-image: url("IMG/goldenr.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* Adjust image left/right */
    background-position-x: 55%;
    /* Adjust image left/right/top/bottom */
    background-position-y: bottom;
}


/* MOBILE SECTION: WHAT'S OUR SECRET? */
.secret {
  /* Just want to see the full height on phone, to toggle off when done */
  /* margin: 100px 0 0 0; */

  width: 100%;
  height: auto;
  
  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
  
  /* background-color: var(--clr_dark); */
  background-image: linear-gradient(var(--clr_dark), rgba(14, 9, 5));
  /* Image position and size adjustment */
  /* background-image: url("cat-window-flipped.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-size: 35%; */

  /* Adjust image left/right/top/bottom */
  /* Adjust image left/right */
  /* background-position: left; */
  /* background-position: 400px 100px; */
  /* background-position-x: 9%; */
  /* background-position-y: bottom; */
}
.secret .secret_text {
  width: 100%;
  /* height: 600px; */
  /* float: left;   */
}
.secret h1 {
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_light);

  /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
  padding: 10% 6% 0 6%;
}
.secret p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 3% 6% 6% 6%;
  
  /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
  color: var(--clr_light);
}
.divider2_image_on_mobile {
  height: 260px;
  background-image: url("IMG/dogshadow.JPG");
  background-repeat: no-repeat;
  background-size: 120%;
  /* Adjust image left/right */
  /* background-position-x: left; */
  /* Adjust image left/right/top/bottom */
  background-position-y: top;
}


/* MOBILE SECTION: Footer  */
footer {
  width: 100%;
  height: auto;
  background: var(--clr_light);
  /* color: var(--clr_accent); */
  
  /* IMPTT NOTE: Do NOT add padding here to make standardized top/bottom/left/right gap (in this div)! 
  Else it will create a white line on the extreme right of phone due to the padding pushing on the right side. 
  All paddings (to do in )top/bottom/left/right) to do in h1, h2, p  etc */
}
footer .info h1 {
  padding: 10% 6% 0 6%;
}
footer .info h1 a {
  color: var(--clr_accent);
  text-decoration: none;
}
footer .info h1 a:hover {
  color: var(--clr_primary);
}
.arrow {
  display: none;
}
footer .info p {
  /* Adjust only top and bottom. Left and right control in .recognition div */
  padding: 1.5% 6% 0% 6%;
  /* width: 88%; */
}
/* SPECIAL NOTE: For button gap adjustment (top/bottom/left/right), go to .btn3 -> Gap adjustment for button  */
footer .copyright {
  background: var(--clr_light);
  color: var(--clr_accent);
  display: flex;
  justify-content: space-between;
  /* NOTE: to adjust copyright text top and bottom gap here */
  padding: 1% 6% 0% 6%;
  align-items: center;
}
footer .copyright p {
  font-size: var(--font_s);
}
/* Button 5 style (for Footer only): White text and perimeter */
.btn5 {
  font-size: var(--font_n);
  padding: 0 15px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid var(--clr_accent);
  display: inline-block;
  text-decoration: none;
  color: var(--clr_accent);
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;

/* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
  margin: 2.2% 5% 10% 6%;

/* Below not required after i added padding to give equal left and right spacing regardless of text length */
  /* width: 110px;
  height: 25px; */
}
.btn5:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn5:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--clr_primary);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .3s;
}
.btn5:hover {
  color: var(--clr_dark);
  border: 1px solid var(--clr_primary);
  z-index: 1;
}
.btn5:hover:before {
  top: 0;
}

.social .icon1 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  /* NOTE: to adjust social icon top/bottom/left/right gap here */
  padding: 0 10px 7% 0;
}
.social .icon1:hover {
  color: var(--clr_primary);
}
.social .icon2 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  /* NOTE: to adjust social icon top/bottom/left/right gap here */
  padding: 0 10px 7% 0;
}
.social .icon2:hover {
  color: var(--clr_primary);
}
.social .icon3 {
  font-size: calc(var(--font_n)*2);
  color: var(--clr_accent);
  padding:0 0 7% 0;
}
.social .icon3:hover {
  color: var(--clr_primary);
}




/* ===========================
   START OF TABLET (IPAD) MODE 
   =========================== */

@media only screen and (min-width: 768px) {

  /* TABLET SECTION: NAVBAR */
  nav {
    /* z-index: 99; */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    min-height: var(--font_n);
    font-weight: bold;
    /* this backgroundcolor is not required as using JS to change the color when scrolling down */
    /* background: var(--clr_light); */
    /* backgrd color helps to differential what to adjust on */
    /* background: tomato; */
    /* opacity: 0.6; */
    /* background: rgba(0, 0, 0, 0.4); */
  
    /* position: fixed; */
    top: 0;
    /* width: 100%; */
    transition: top 0.7s;
    /* overflow: hidden; */
    /* padding: 0 6% 0 6%; */
    /* padding: 90px 10px; */
    /* height: 50px; */
  }
  nav #logo {
    background-color: transparent;
    /* height = 55px (3.4375rem) and width = 125px (7.8125rem) */
    height: 55px;
    width: 125px;
    margin: 0 0 0 6%;
    /* JSnavbarshrink: RMB TO TURN THIS TRANSITION ON IF USING THIS JAVASCRIPT  */
    /* transition: 0.4s; */
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* width: 60%; */
    /* adjust the full height of the nav text BOX height */
    /* height: 55px; */
    /* adjust the left and right gap of nav bar  */
    margin: 0 4% 0 0;
    /* display: inline-flex; */
    font-size: var(--font_n);
    /* width: 0; */
  }
  nav ul li {
    background-color: transparent;
    padding: 0;
  }
  nav ul li a {
    /* text-decoration: none; */
    /* color: var(--clr_accent); */
    /* display: block; */
    /* adjust how big the gap of the text should fit in the box */
    padding: 17px 17px 17px 17px;
    /* font-size: var(--font_n); */
    /* white-spece: text will not jump to next line if no space for it */
    /* white-space: nowrap; */
    /* border-radius: 4px; */ 
    /* background: pink; */
  }
  nav ul li:first-child {
    padding: 0;
  }
  nav ul li:last-child {
    padding: 0;
  }
  .menu_toggle {
    display: none;
  }


  /* TABLET SECTION: Slider buttons */
  .sliderbtn {
    width: 7%;
  }


  /* TABLET SECTION: Intro1 */
  .intro1 {
    width: 100%;
    /* Image position and size adjustment */
    background-image: url("IMG/hero.jpg");
    background-repeat: no-repeat;
    background-size: 180%;
    /* background-size: cover; */
    /* Adjust image left/right */
    /* background-position-x: center; */
    /* Adjust image top/bottom */
    background-position-y: -1.5rem;
    /* background-position: bottom; */
    /* Adjust image left/right/top/bottom */
    /* background-position: 400px 100px; */
    /* display: none; */
  }
  .container_image_on_mobile1 {
    background: none;
  }
  .intro1 .text {
    width: 100%;
  }
  .intro1 .text h1 {
    padding: 8% 6% 0 6%;
  }
  .btn1 {
  /* Gap adjustment (top,left/right only, but not bottom because that one is adjust fr intro div -> padding: top/bottom) for button */
    /* margin: 2.2% 6% 10% 33%; */
    margin: 1.2% 6% 10% 41%;
  }


  /* TABLET SECTION: Intro2 */
  .intro2 .text {
    width: 100%;
  }
  .intro2 .text h1 {
    padding: 40% 44% 0 6%;
  }
  .btn2 {
    margin: 1.2% 5% 5% 6%;
  }


  /* TABLET SECTION: Intro3 */
  .intro3 .text h1 {
    padding: 40% 7% 0 6%;
  }
  .intro3 .text h2 {
    padding: 0.5% 65% 0% 6%;
  }
  .btn3 {
  margin: 1.2% 5% 5% 6%; 
  }


  /* TABLET SECTION: Intro4 */
   .overlay4 {
    width: 50%;
    /* shift the overlay to top/bottom/left/right */
    margin: 0 0% 0 50%;
    height: 100vh;
  }
  .intro4 .text .dfa_logo {
    margin: 15% 0% 0 56.3%;
  }
  .intro4 .text h1 {
    padding: 1% 6% 0 56%;
  }
  .intro4 .text h2 {
    padding: 0.5% 6% 0% 56%;
  }
  .intro4 .text h3 {
    padding: 8% 6% 0 56%;
  }
  .intro4 .text p {
    padding: 2% 6% 0 56%;
  }
  .btn4 {
  /* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
    margin: 1.2% 5% 5% 56%;
  }

  
  /* TABLET SECTION: WORDS THAT WARM OUR HEARTS */
  .testimonial_title h1 {
    /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
    padding: 15% 6% 0 6%;
  }
  

  /* TABLET SECTION: WHAT DO WE DO? */
  .objective {
    background-image: url("IMG/goldenr.png");
    background-repeat: no-repeat;
    background-size: 58%;
    /* Adjust image left/right */
    background-position-x: 110%;
    /* Adjust image left/right/top/bottom */
    background-position-y: bottom;
  }
  .objective p {
    padding: 3% 51% 6% 6%;
  }
  .divider1_image_on_mobileATOM {
    /* height is 0 bc to remove the mobile view image */
    height: 0;
    background-image: none;
  }


  /* TABLET SECTION: WHAT'S OUR SECERT? */
  .secret {
    background-color: var(--clr_dark);
    background-image: url("IMG/dogshadow.JPG");
    background-repeat: no-repeat;
    background-size: 58%;
    /* Adjust image left/right */
    background-position-x: left;
    /* Adjust image left/right/top/bottom */
    background-position-y: bottom;
  }
  .secret h1 {
    /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
    padding: 9% 6% 0 48%;
  }
  .secret p {
    /* Adjust only top and bottom. Left and right control in .recognition div */
    padding: 3% 6% 6% 48%;
    /* Font size, family, height to adjust in Typography. Only adjust the color below as default is --clr_accent */
    color: var(--clr_light);
  }
  .divider2_image_on_mobile {
    /* height is 0 bc to remove the mobile view image */
    height: 0;
    background-image: none;
  }

  /* TABLET SECTION: WHAT'S OUR SECERT? */
  footer .info p {
    /* Adjust only top and bottom. Left and right control in .recognition div */
    padding: 1.5% 36% 0% 6%;
  }

}

/* =====================
   START OF DESKTOP MODE 
   ===================== */

@media only screen and (min-width: 1025px) {
  
  nav ul {
    margin: 0 4.7% 0 0;
  }
  nav ul li a {
    padding: 17px 20px 17px 20px;
  }

  .sliderbtn {
    padding: calc(var(--font_n)/2) calc(var(--font_n)/3);
    width: 6.6%;
  }
  .btntext {
    display: contents;
    /* padding: 1px 0px; */
  }


  /* DESKTOP SECTION: Intro1 */
  .intro1 {
    height: 100vh;
    background-size: cover;
    /* background: pink; */
    /* background-size: 100%; */
    background-position-y: 0;
  }
  .intro1 .text h1 {
    padding: 4% 6% 0 6%;
  }
  .btn1 {
    /* Gap adjustment (top,left/right only, but not bottom because that one is adjust fr intro div -> padding: top/bottom) for button */
      margin: 1.2% 6% 10% 45%;
    }

  /* DESKTOP SECTION: Intro2 */
  .intro2 {
    height: 100vh;
  }
  .intro2 .text h1 {
    padding: 20% 57% 0 6%;
  }
  .btn2 {
    margin: 0.9% 5% 5% 6%;
  }

  /* DESKTOP SECTION: Intro3 */
  .intro3 {
    height: 100vh;
  }
  .intro3 .text h1 {
    padding: 20% 7% 0 6%;
  }
  .intro3 .text h2 {
    padding: 0.5% 70% 0% 6%;
  }
  .btn3 {
    margin: 0.9% 5% 5% 6%;
  }

  /* DESKTOP SECTION: Intro4 */
  .intro4 {
    height: 100vh;
  }
  .intro4 .text .dfa_logo {
    margin: 10% 0% 0 59%;
  }
  .intro4 .text h1 {
    padding: 0.5% 8% 0 59%;
  }
  .intro4 .text h2 {
    padding: 0.5% 8% 0% 59%;
  }
  .intro4 .text h3 {
    padding: 8% 8% 0 59%;
  }
  .intro4 .text p {
    padding: 2% 8% 0 59%;
  }
  .btn4 {
  /* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
    margin: 0.9% 10% 5% 59%;
  }


  /* DESKTOP SECTION: NEWS title */
  .news_title h1 {
    padding: 8% 6% 3.5% 6%;
  }    


  /* DESKTOP SECTION: WORDS THAT WARM OUR HEARTS */
  .testimonial_title h1 {
    padding: 10% 6% 0 6%;
  }


  /* DESKTOP SECTION: WHAT DO WE DO? */  
  .objective {
    background-size: 30%;
    /* Adjust image left/right */
    background-position-x: 85%;
    /* Adjust image left/right/top/bottom */
    background-position-y: bottom;
  }
  .objective h1 {
    padding: 6% 6% 0 6%;
  }
  .objective p {
    padding: 3% 52% 6% 6%;
  }


  /* DESKTOP SECTION: WHAT'S OR SECRET? */  
  .secret {
    background-size: 50%;
    /* Adjust image left/right */
    background-position-x: left;
    /* Adjust image left/right/top/bottom */
    background-position-y: bottom;
  }
  .secret h1 {
    /* Adjust left and right  gap here. This is to fix the white line on the right even when width is 100%. */
    padding: 6% 6% 0 48%;
  }



  /* DESKTOP SECTION: FOOTER */  
  footer .info h1  {
    padding: 5% 6% 0 6%;
  }
  footer .info p {
    padding: 0.5% 61% 0% 6%;
  }
  .btn5 {
  /* Gap adjustment (top,left/right only, but not bottomn because that one is adjust fr intro div -> padding: top/bottom) for button */
    margin: 1% 5% 5% 6%;

  }

}
